@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.articleListItemContainer {
  width: 100%;
  @include xs {
    height: 9.5em;
  }
  @include sm {
    height: 16em;
  }
  border-bottom: 1px solid $secondaryColor;
  color: $quinaryColor;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;

  .articleInformation {
    padding-right: 2em;
    height: 100%;
    @include xs {
      flex-basis: 70%;
    }
    @include xl {
      flex-basis: 80%;
    }
    display: flex;
    flex-direction: column;
    span {
      cursor: pointer;
    }

    .articleTime {
      @include xs {
        display: none;
      }
      @include sm {
        display: block;
      }
      margin-top: auto;
      width: 100%;
      display: flex;
      font-size: 0.8em;
      justify-content: flex-start;
      .articleReadingTimeIcon {
        align-self: center;
        margin-top: 1px;
        margin-right: 0.5em;
      }
    }
    .articleDate {
      font-size: 0.8em;

      font-weight: bold;
      margin-bottom: 0.5em;
    }
    .articleTitle {
      overflow: hidden;
      padding-bottom: 0.2em;
      @include xs {
        font-size: 0.9em;
        -webkit-line-clamp: 3;
      }
      @include sm {
        font-size: 1.2em;
        -webkit-line-clamp: 2;
      }
      @include md {
        font-size: 1.5em;
        padding-bottom: 0.2em;
      }
      font-weight: bold;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
    .articleSubtitle {
      text-overflow: ellipsis;
      overflow: hidden;
      @include xs {
        -webkit-line-clamp: 3;
        display: none;
      }
      @include sm {
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      font-style: italic;
    }
  }

  .articleMainPicture {
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    height: 100%;
    @include xs {
      flex-basis: 30%;
    }
    @include xl {
      flex-basis: 20%;
    }
  }
}
