@import 'variables.scss';

@import 'mixins.scss';

.contentContainer {
  color: $quinaryColor;

  .articleContainer {
    width: 100%;
    justify-content: center;
    @include xs {
      display: flex;
      flex-direction: column;
    }
    @include sm {
      display: grid;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      grid-template-columns: repeat(1, 1fr);
    }
    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }
    @include xl {
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .viewMoreContainer {
    width: 100%;
    display: flex;
    @include xs {
      margin-top: 0px;
    }
    @include sm {
      margin-top: 40px;
    }
    justify-content: center;
  }
}
