@import './styles/variables.scss';
@import './styles/mixins.scss';

.postContainer {
  color: $quinaryColor;
  .articleDate {
    margin-bottom: 1em;
    font-weight: bold;
  }
  .imageCredit {
    color: $quaternaryColor;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    .link {
      text-decoration: underline;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
  .articleMainPicture {
    position: relative;
    @include xs {
      height: 10em;
    }
    @include sm {
      height: 15em;
    }
    @include md {
      height: 18em;
    }
    @include lg {
      height: 20em;
    }
    width: 100%;
    overflow: hidden;
  }
  .articleContainer {
    margin-top: 1em;
    .articleTitle {
      font-size: 1.5rem;
      color: $quinaryColor;
      @include md {
        font-size: 2.5rem;
      }
      font-weight: bold;
    }
    .articleSubtitle {
      margin-top: 1em;
    }
    .articleDetails {
      margin-top: 1em;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .articleAuthor {
        font-weight: bold;
        flex-basis: 50%;
      }
      .articleTime {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .articleReadingTimeIcon {
          margin-right: 0.5em;
        }
        flex-basis: 50%;
      }
    }

    .articleBody {
      margin-top: 2em;
      width: 100%;
      max-width: 100%;

      a {
        color: $quinaryColor;
        text-decoration: underline;
      }
      pre {
        display: block;

        background-color: black;
        color: $quinaryColor;
        padding: 1em;

        overflow-x: scroll;
      }
      p {
        code {
          background-color: $secondaryColor;
          color: $quinaryColor;
          padding: 0.2em;
          border-radius: 5px;
        }
      }
      p {
        img {
          max-width: 100%;
          height: auto;
        }
      }

      details {
        border: 1px solid $quinaryColor;
        border-radius: 5px;
        margin-top: 3em;
        margin-bottom: 3em;
        padding: 1em;
        summary {
          cursor: pointer;
        }
      }
    }
  }
}
